# Temporary and compilation files
*~
*.bbl
*.blg
*.aux
*.log
*.fff
*.synctex.gz
# Explicitely set pdfs filnames here (vs. using *.pdf), so that when we add 
# new ones in reviews/, they are not ignored by git.
brainscopycut.pdf

# R files
.RData
.Rapp.history
.Rhistory

# Latexmk files
*.fdb_latexmk
.gitignore
